<div id="kontenert">
    <h1 id="omnie">Kontakt do mnie...</h1>
    <div id="flexkontener"> 
       
        <div id="fb">
            <a href="https://www.facebook.com/cyprian.kalina" target="_blank">
                <div><img src="assets\facebook.png" style="width: 50%; height: 50%;"></div> 
            </a>
        </div>
        <div id="mail" (click)="alarm()">
            <a href="mailto:cyprian_kalina@wp.pl" >
                <div><img src="assets\mail.png" style="width: 50%; height: 50%;"></div>
            </a>
        </div>
        <div id="git">
           <a href="https://github.com/CyprianKal" target="_blank"> 
            <div><img src="assets\git.png" style="width: 50%; height: 50%;"></div>
            </a>
        </div>

    </div>
</div>

