<div id="kontenerv3">
    <h1>Mój stack technologiczny</h1>

    <div id="flexboxcon">
        <div class="dwaobok">
            <div id="skill1">
                <img src="assets\Angular.png" alt="" style="width: 100px;"/>
            </div>
            <div id="skill2">
                 <img src="assets\Typescript.png" alt="" style="width: 100px;"/>
            </div>
        </div>
        <div class="jedendlugi">
            <div id="skill3">
                <img src="assets\html.png"  style="width: 100px;"/>
            </div>
        </div>

        <div class="dwaobok">
            <div id="skill4">
                <img src="assets\flexbox.png" style="width: 100px;"/>
            </div>
        
            <div id="skill5">
                <img src="assets\css.png"  style="width: 100px;"/>
            </div>

        </div>
        
        <div class="jedendlugi">
            <div id="skill6">
                <img src="assets\wordpress.png" a style="width: 100px;"/>
            </div>
        </div>
        

        <div class="dwaobok">
            <div id="skill7">
                <img src="assets\Typescript.png"  style="width: 100px;"/>
            </div>
            <div id="skill8">
                <img src="assets\js.png" style="width: 100px;">
            </div>
        </div>
        <div class="jedendlugi">
            <div id="skill9">
                <img src="assets\python.png"  style="width: 100px;"/>
            </div>
        </div>
    </div>
</div>
