<div id="kontenerv3">
    <h1>Mój stack technologiczny</h1>

    <div id="flexboxcon">
        <div class="dwaobok">
            <div id="skill1">
                <div class="kontentnazwa">ANGULAR</div>
            
                <img src="assets\Angular.png" alt="" style="width: 100px;"/>
            </div>
            <div id="skill2">
                <div class="kontentnazwa">HTML</div>
                 <img src="assets\html.png" alt="" style="width: 100px;"/>
                 
            </div>
        </div>
        <div class="jedendlugi">
            <div id="skill3">
                <div class="kontentnazwa">GIT</div>
                <img src="assets\git.png"  style="width: 100px;"/>
            </div>
        </div>

        <div class="dwaobok">
            <div id="skill4">
                <div class="kontentnazwa">FLEXBOX</div>
                <img src="assets\flexbox.png" style="width: 100px;"/>
            </div>
        
            <div id="skill5">
                <div class="kontentnazwa">CSS</div>
                <img src="assets\css.png"  style="width: 100px;"/>
            </div>

        </div>
        
        <div class="jedendlugi">
            <div id="skill6">
                <div class="kontentnazwa">WORDPRESS</div>
                <img src="assets\wordpress.png" a style="width: 100px;"/>
            </div>
        </div>
        

        <div class="dwaobok">
            <div id="skill7">
                <div class="kontentnazwa">TYPESCRIPT</div>
                <img src="assets\Typescript.png"  style="width: 100px;"/>
            </div>
            <div id="skill8">
                <div class="kontentnazwa">JAVASCRIPT</div>
                <img src="assets\js.png" style="width: 100px;">
            </div>
        </div>
        <div class="jedendlugi">
            <div id="skill9">
                <div class="kontentnazwa">PYTHON</div>
                <img src="assets\python.png"  style="width: 100px;"/>
            </div>
        </div>
    </div>
</div>
