<div id="kontener">
    <div id="buttoncolor"> 
        <div id=jasnastrona (click)="changeColor('jasny')"><a id="zmien">Light</a></div>
        <div id="ciemnastrona" (click)="changeColor('ciemny')"><a id="kolor">Dark</a></div>
    </div>
    <div id="opcje" class="animate__animated animate__rotateIn">
        <a routerLink="/omnie" >
            <div id="opcjagoralewo" (click)="goToBottom()">
                 <h4> O mnie</h4>
            </div>    
        </a>
        <a routerLink="/kontakt" >
            <div id="opcjagoraprawo" (click)="goToBottom()">
                 <h4>Kontakt</h4>
            </div>    
        </a>
        <div style="clear: both;"></div>
        <a routerLink="/placeholder" >
            <div id="opcjadollewo" (click)="goToBottom()">
                 <h4>Osiągnięcia</h4>
            </div>    
        </a>
        <a routerLink="/stack" >
            <div id="opcjadolprawo" (click)="goToBottom()">
                 <h4>Stack</h4>
            </div>    
        </a>
    </div>
</div>

