<div id="kontenerr">
    <div class="row">
        <div class="zdjecie">
            <img src="assets\placeholderhuman.png" alt="" />
        </div>
        <div class="opis">
            <div>
                <p>Cyprian Kalina</p>
            </div>
            <div>
               <p >FrontEnd developer</p>
            </div>
        </div>
    </div>

    <div class="row">
       <div class="side"></div> 
       <div id="krocej" style="height:23vh;">Kim jestem?</div>
       <div id="dluzej">
        &nbsp;Nazywam się Cyprian Kalina i jestem Junior FrontEnd developerem.
        Mam 18 lat, i programowania uczę się w szkole. Wychodzę jednak z założenia, potwierdzonego przez obserwację, że szkoła jest zacofana.
        Dlatego programowania uczę się głównie w domu - to moja pasja :) <br/>
        Wiem że dużo jeszcze przede mną, ale staram się codziennie uczyć - cały czas szukam wyzwań które poszerzą moje horyzonty i doświadczenie!
        Popracujmy razem :)
        </div>
       <div class="side"></div> 
    </div>



</div>