<div id="kontener">
    <div class="row">
        <div class="zdjecie">
            <img src="assets\placeholderhuman.png" alt="" />
        </div>
        <div class="opis">
            <div>
                <p>Cyprian Kalina</p>
            </div>
            <div>
               <p>FrontEnd developer</p><div id="kropka">.</div>
            </div>
        </div>
    </div>

    <div class="row">
       <div class="side"></div> 
       <div class="krocej" style="height:23vh;">Kim jestem?</div>
       <div class="dluzej">
        Nazywam się Cyprian Kalina i jestem Junior FrontEnd developerem.<br/>
        Mam 18 lat, i programowania uczę się w szkole. Wychodzę jednak z założenia, potwierdzonego przez obserwację, że szkoła jest zacofana<br/>
        Dlatego programowania uczę się głównie w domu - to moja pasja :) <br/>
        Wiem że dużo jeszcze przede mną, ale staram się codziennie uczyć - cały czas szukam wyzwań które poszerzą moje horyzonty i doświadczenie! <br/>
        Popracujmy razem :)
        </div>
       <div class="side"></div> 
    </div>



</div>