#kontenerr{box-shadow: inset 0px 0px 81px 4px rgba(69,43,69,1);width: 100%;height:auto; display: flex;flex-direction: column; background-color:rgb(34, 34, 59); font-family: 'Courier New', Courier, monospace; margin-bottom: 0;}

#kontenerr h1{flex:1; color:white;margin: auto; margin-top: 2%; }
#omnie{font-size: calc(2vh + 2vw);}
#pojemnik{display: flex; padding: 50px;}

.kafelekcaly{flex:1;display: flex; flex-direction: column; margin: 10px; padding: 10px; justify-content: center; align-items: center;}
.zawartosckafelek{text-align: center; background-color: #363852; color: rgb(197, 188, 188); }
.tytulkafelek{text-align: center;background-color: rgb(74, 78, 105);  } 

#pojemnikdwa{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0;
}
#zdjeciemnie img{margin-bottom: 0;}
#nazwa{flex:2; font-size: calc(2vw + 2vh); padding: 5px;}
#zdjeciemnie{flex:2; text-align: center; margin-bottom: 0;}
#zawod{flex:3;  font-size: calc(2vw + 2vh);}
@media only screen and (max-width: 900px) {
    #pojemnik{
        flex-direction: column;
        padding: 10px;
    }
    #pojemnikdwa{flex-direction: column;}
    #zdjeciemnie{order: 2;}
    #zawod{margin-bottom: 20px;}
    #nazwa{margin-bottom: 20px;}
    .zawartosckafelek{width: 70vw ;}
    .tytulkafelek{width: 70vw;  } 
    #zdjeciemnie img{max-height: 200px !important;}
}