<div id="kontenerr">

    <h1 id="omnie">Trochę o mnie</h1>
    <div id="pojemnik">
        <div class="kafelekcaly">

            <div class="tytulkafelek">
                <h1>Kim ja właściwie jestem?</h1>
            </div>

            <div class="zawartosckafelek">
                Cześć! Zapomniałem się przedstawić... Nazwam sie Cyprian Kalina i jestem FrontEnd Developerem. Mam 18 lat, i pełną myśli głowę. 
                Programowania uczę się głównie z pasjii i własnej ambicjii - stwierdziłem że to co dają mi w szkole to za mało...
            </div>

        </div>
        <div class="kafelekcaly">

            <div class="tytulkafelek">
                <h1>I wtedy zacząłem się uczyć!</h1>
            </div>

            <div class="zawartosckafelek">
                I choć na początku było strasznie ciężko to z czasem zacząłem ogarniać coraz więcej i chodź wiem jak długa droga jest jeszcze przedemną,
                to cieszę się patrząc na to co już przeżyłem i co za mną.
            </div>

        </div>
        <div class="kafelekcaly">

            <div class="tytulkafelek">
                <h1>Moje ambicję zaczęły mnie prześcigać...</h1>
            </div>

            <div class="zawartosckafelek">
                W pewnym momencie przestałem nadążać za ilością nauki którą sobie narzuciłem i myśłałem że nie dam rady, miałem sporą przerwę...
            </div>

        </div>
        <div class="kafelekcaly">

            <div class="tytulkafelek">
                <h1>Ale wróciłem pełen energii!</h1>
            </div>

            <div class="zawartosckafelek">
              Starszy i mądrzejszy - jestem skoncentrowany na celu. To co - skoro się już znamy, popracujemy razem?
            </div>

        </div>

    </div>
    <div id="pojemnikdwa">
        <div id="nazwa">Cyprian Kalina</div>
        <div id="zdjeciemnie"><img src="assets\placeholderhuman.png" style="width: auto;max-height: 400px;text-align: center; margin-bottom: 0;"></div>
        <div id="zawod">FrontEnd Developer</div>
    </div>
</div>