<div id="kontenerv5">

        <h1 id="omnie">Kilka z moich realizacji</h1>
        <div id="pojemnik">
            <div id="row1">
                <div class="kafelekcaly">
    

    
                    <div class="zawartosckafelek">
                        <img src="assets\portfoliolook.png" alt="">
                    </div>
    
                </div>
                <div class="kafelekcaly">
    
                    <div class="zawartosckafelek">
                        <img src="assets\herebemesa look.png" alt="">
                    </div>
            
          
        
                </div>                
            </div>


            <div class="kafelekcaly">
    

    
                <div class="zawartosckafelek">
                    <img src="assets\avalonlook.png" alt="">
                </div>

            </div>

            <div id="row2">
                <div class="kafelekcaly">
    

    
                    <div class="zawartosckafelek">
                        <img src="assets\pythonlook.png" alt="" id="maly">
                    </div>
            
                </div>

                <div class="kafelekcaly">
    

    
                    <div class="zawartosckafelek">
                        <img src="assets\cukeirnialook.png" alt="">
                    </div>
            
                </div>
            </div>

    
      

</div>

