<a id="punkt"></a>
<div id="kontenerv5">
        
        <h1 id="omnie">Kilka z moich realizacji</h1>
        <div id="pojemnik">
            <div id="row1">
                <div (click)="wysun(1)" class="kafelekcaly" >
    

    
                    <div class="zawartosckafelek" >
                        <img src="assets\portfoliolook.png" alt="">
                    </div>
    
                </div>
                <div class="kafelekcaly" (click)="wysun(2)">
    
                    <div class="zawartosckafelek">
                        <img src="assets\herebemesa look.png" alt="">
                    </div>
            
          
        
                </div>                
            </div>


            <div class="kafelekcaly " (click)="wysun(3)">
    

    
                <div class="zawartosckafelek">
                    <img src="assets\avalonlook.png" alt="">
                </div>

            </div>

            <div id="row2">
                <div class="kafelekcaly">
    

    
                    <div class="zawartosckafelek" (click)="wysun(4)">
                        <img src="assets\pythonlook.png" alt="" id="maly">
                    </div>
            
                </div>

                <div class="kafelekcaly" (click)="wysun(5)">
    

    
                    <div class="zawartosckafelek">
                        <img src="assets\cukeirnialook.png" alt="">
                    </div>
            
                </div>
            </div>

    
      

           
</div>
<div id="slajd"  >
    <h1 id="slajdtytul" ></h1>
    <p id="slajdp"></p>
    <button (click)="wysun(0)" style="cursor: pointer; flex: 1;">kliknij aby schować</button>
</div>